* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    min-width: 360px;
}

/* body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */


/* @keyframes fadeInUp {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
.fadeInUp-animation {
    animation: 1.5s fadeInUp;
} */


.fade {
    opacity: 0;
}

.bg-light-opacity {
    background: rgba(255, 254, 254, 0.897);
}

.slick-next {
    right: 20px !important;
}

.slick-prev {
    left: 20px !important;
    z-index: 1 !important;
}


.slick-next:before {
    content: '▶️' !important;
}

.slick-prev:before {
    content: '◀️' !important;
}


.slick-dots li.slick-active button:before {
    font-size: 25px;
    color: #04a8eb !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
}

/* .main-cards {
    position: relative;
    animation: mymove 1s infinite;
} */

/* @keyframes mymove {
    from {
        visibility: visible;
        top: 20px;
    }
    
    to {
        visibility: hidden;
        top: 0px;
    }
} */

li {
    list-style-type: none;
}

.hov-img {
    transition: ease 1s;
}

.hov-img:hover {
    transform: scale(1.1);
}

.pointer {
    cursor: pointer;
}

.cart-sidebar {
    width: 350px;
    padding: 10px 12px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -200%;
    height: 100vh;
    z-index: 4;
    transition: 0.5s;
}

.cart-releated-product {
    width: 350px;
    /* padding: 10px 12px; */
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -200%;
    height: 100vh;
    z-index: 4;
    transition: ease-in 0.5s;
}

.mask {
    width: 100%;
    height: 100vh;
    background-color: #0000007a;
    position: fixed;
    display: none;
    z-index: 1;
}

.text-overflow {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 20px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-dropdown {
    top: -1000%;
    transition: 0.5s;
}

.main-cards img {
    height: 190px;
    object-fit: contain;
}

.mob-search {
    position: fixed;
    width: 100%;
    display: flex;
    top: -100%;
    transition: 0.8s;
    padding: 30px 20px;
    align-items: center;
    background: #fff;
    z-index: 4;
}


.mob-sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    padding: 20px 20px;
    left: -100%;
    top: 0;
    background-color: #fff;
    z-index: 3;
    transition: ease-in 0.3s;
    overflow-y: auto;
}

.mob-sidebar::-webkit-scrollbar {
    width: 5px;
    background: #e9e9e9;
}

.mob-sidebar::-webkit-scrollbar-thumb {
    background: #7c7c7c;
}

.mob-sidebar ol li {
    padding: 5px 0px;
}

.indside .accordions {
    width: 90%;
    max-width: 60ch;
    margin: 0 auto;
}

.indside .accordion {
    margin-bottom: 1rem;
    overflow: hidden;
    transition: border-color .5s ease;

}

.indside .accordion__header {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.1rem;
    color: #666;

}

.accordion__header:after,
.accordion__header:before {
    content: '';
    position: absolute;
    right: 1.5em;
    width: 2px;
    height: 0.75em;
    background-color: #666;
    transition: all 0.2s;
}

.accordion__header:after {
    transform: rotate(90deg);
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion input {
    display: none;
}

.accordion:has(input:checked) {
    border-color: #000;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.accordion input:checked~.accordion__header:before {
    transform: rotate(270deg) !important;
    background-color: #000;
}

.accordion input:checked~.accordion__header:after {
    transform: rotate(270deg) !important;
    background-color: #000;
}

.accordion input:checked~.accordion__content {
    max-height: 1000px;
    /* Adjust based on content length */
}



.home-slider .slick-dots {
    bottom: 10px;
}

/* tabs */
.tabs {
    padding-top: 7%
}

.tab-list {
    padding-left: 0;
    padding-right: 0;
}

.tab-list>li {
    padding: 3% 3%;
    float: left;
    cursor: pointer;
}

.tab-list>li:first-child {
    border-left: none;
}

.inside .tab-list>li:first-child {
    background-color: #0070fc;
    color: #fff;
}

.tab-list>li:hover {
    text-decoration: underline;
}


.tab-list>li.active {
    color: #ffffff;
    background-color: #0070fc;
    background-color: #0070fc;
    padding: 3% 5%;
}

.inside .tab-list>li.active {
    color: #ffffff;
    background-color: #0070fc;
    padding: 3% 5%;
}

.tab-list>li>h3 {
    font-weight: 100;
    display: block;
    transition: all 500ms ease;
}

.tabs-content {
    opacity: 0;
    display: none;
    margin: 3em 0;
}


.tabs-content.active {
    opacity: 1;
    display: block;
}

.inside .tabs-content.active {
    opacity: 1;
    display: block;
}

.tab-list>li.active:after {
    content: "";
    border-top: 0 solid transparent;
    border-left: 13px solid transparent;
    clear: both;
    display: inline-block;
    transform: rotate(-45deg);
    margin-right: -20px;
    margin-top: 4px;
    float: right;
    border-bottom: 13px solid #0070fc;
    /* border-bottom: 13px solid #000; */
}

.tabs-content>div>i {
    font-size: 65px;
    float: left;
    display: block;
    margin-top: 10px;
}

.tabs-content>div>article {
    float: right;
    width: 80%;
}

.tabs-content>div>article h3 {
    font-weight: bold;
}

/* Bar Set Style */
.tab-header {
    margin: 0 0 1em;
}

.tab-header h3 {
    font-size: 20px;
    text-transform: uppercase;
}


.tabs-content li {
    margin: 5px 0px;
}

.tabs-content li:hover {
    text-decoration: underline;
}


.nav-tabs li {
    padding: 3% 5%;
    margin: 0;
}

.nav-tabs li.active {
    background-color: #0070fc;
    padding: 3% 5%;
    color: #fff;
}


.nav-tabs li.active:after {
    content: "";
    border-top: 0 solid transparent;
    border-left: 13px solid transparent;
    clear: both;
    display: inline-block;
    transform: rotate(-45deg);
    margin-right: -20px;
    margin-top: 4px;
    float: right;
    border-bottom: 13px solid #0070fc;
    /* border-bottom: 13px solid #000; */
}



/* tabs end */



.submenue {
    right: 227px;
    display: none;
}

.sub-one:hover .submenue {
    display: block;
}

.quantity {
    display: flex;
    border: 1px solid #000;
    /* border-radius: 4px; */
    width: fit-content;
    /* overflow: hidden; */

}

.quantity button {
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    padding: 0px 3px;
    /* border-radius: 0px 0px 0px 0px; */
    border: 1px solid transparent;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
}

.quantity button:hover {
    background-color: #d6d6d6;
}

.input-box {
    width: 30px;
    text-align: center;
    background-color: transparent;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 0px solid #000;
    border-bottom: 0px solid #000;
    color: #000;
    padding: 5px 5px;
    font-size: 12px;
    outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-bottom: 1px solid #ffffff42;
}



@media screen and (max-width:500px) {
    .fs-resp {
        font-size: x-small;
    }
}